<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>To do app in angular
	</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	 <script src="list.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" type="image/png" href="images/cart.png" />
</head>
<body>
<div ng-app="todoApp">
    <h1>Angular Shopping list.</h1>
    <div class="container" ng-controller="todoCtrl">
        <!--input form-->
        <form ng-submit="addTodo()">
            <input type="text" ng-model="todoText" placeholder="Enter text here" id="box" ng-required="true">
            <input type="submit" value="Add" class="btn" >  
                <span class="btn" ng-click="remove()">Remove</span>
        </form>
                <!--message-->
                <p>{{remaining()}} of {{todos.length}} yet to be done</p>
                <!--list of to do-->
                <ul class="liststyle">
                    <li ng-repeat="todo in todos">
                     <input type="checkbox" ng-model="todo.done">
                     <span>{{todo.text}} </span>                          
                    </li>
                </ul>
    </div>
</div>
	
</body>
</html>